.App {
  text-align: center;
}

.list-primary {
  list-style-type: none;
  text-align: left;
}

.list-container {
  margin: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tags {
  justify-self: flex-end;
}

.tags span {
  margin: 0px 5px;
  padding: 2px;
  background-color: aquamarine;
}

span.technology {
  background-color: navy;
  color: white;
}
