.App {
  text-align: center;
}

.list-primary {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}

.list-container {
  margin: 20px 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.form-group {
  margin: 0px;
}

.title-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 2px 0;
}

.tags span {
  margin: 0 2px;
  padding: 4px;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  border-radius: 5px;
  background-color: mediumslateblue;
}

span.technology {
  background-color: navy;
  color: white;
}
