@charset "utf-8";
//@import "../node_modules/bulma/bulma.sass";

$menu-item-active-background-color: #dacc3e;

.list-primary {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}

.menu {
  margin-top: 20px;
}

.list-container {
  margin: 20px 0;
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.fixed-height {
  height: 90vh;
  overflow-y: scroll;
}

.title-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 2px 0;
  width: 100%;
}

.right-float {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.tags-special {
  margin: 5px 0;
}

.tags-special span {
  margin: 0 2px;
  padding: 4px;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  border-radius: 5px;
  background-color: mediumslateblue;
}

span.technology {
  background-color: navy;
  color: white;
}

.check {
  margin: 0px 10px;
}

.course-tree {
  text-align: left;
}

.lesson-description {
  font-size: 0.8em;
  word-wrap: break-word;
}

span.small {
  font-size: 0.4em;
  border-radius: 10px;
  border: 0.5px solid navy;
  margin: 2px;
}

.dots-container  {
  margin: -5 0 0 10px;
  padding: 0px;
  vertical-align: top;
  font-size: 0.2em;
}

.vertical-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper {
  width: 80%;
}

.form-group,
.form-control {
  padding-top: 10px;
  font-size: 0.9rem;
  margin: 0 10px 0 0;
}
